[Unit]
Description=Server
After=multi-user.target
 
[Service]
User=dima-batalov
Type=simple
Restart=always
ExecStart=/usr/bin/python3.11 /neuralearn/src/server.py __NAME__ __PORT__
 
[Install]
WantedBy=multi-user.target